<div class="excel__table">
    <div class="row">
        <div class="row-info"></div>
        <div class="row-data">
            <div class="column" *ngFor="let col of colsCount | fakeArray; let index = index">
                {{toChar(col)}}
                <div class="col-resize"></div>
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let row of rowsCount | fakeArray; let index = index"> 
        <div class="row-info">{{index + 1}}
            <div class="row-resize"></div>
        </div>
        <div class="row-data">
            <div class="cell" contenteditable *ngFor="let item of colsCount | fakeArray; let index = index">
    
            </div>
        </div>
    </div>

</div>
