<div class="excel">
  <app-header [titleText]="titleTextFromState | async"></app-header>
  <app-toolbar [defaultStyles]="currentStyles | async" (appliedStyles)="onAppliedStyles($event)"></app-toolbar>
  <app-formula
    [tableInput]="tableCellTextContent | async"
    (formulaDone)="onFormulaDone($event)"
    (formulaTextChange)="onFormulaTextChange($event)"
  ></app-formula>

  <app-table
    [stylesFromToolbar]="stylesFromToolBar"
    [formulaInput]="formulaTextContent"
    [formulaDone]="formulaDone"
    [colWidthFromState]="colWidthFromState | async"
    [rowHeightFromState]="rowHeightFromState | async"
    [dataCellsFromState]="dataCellsFromState | async"
    [stylesFromState]="stylesFromState | async"
  ></app-table>
</div>
